In [1]:
from snowflake.snowpark import Session as sn
import pandas as pd

# Your user and password is unique to you
connector = {
    'account': 'tub49591.us-east-1',
    'user': '',
    'password': '',
    'role': 'sysadmin',
    'warehouse': 'MY_WAREHOUSE',
    'database': 'NINER_TRANSIT',
    'schema': 'transit_2018_script'}

C:\Users\Willy\.conda\envs\altair install\lib\site-packages\snowflake\connector\options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (9.0.0), please install a version that adheres to: 'pyarrow<8.1.0,>=8.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [2]:
query = sn.builder.configs(connector).create()

In [3]:
command = 'SELECT * FROM "transit_2018";'
result = query.sql(command).collect()
query.close()

In [4]:
df = pd.DataFrame(list(result))
display(df)

,Date,Time,Bus,Count,On off,Latitude,Longitude,Route,Stop
0,7/1/2018,00:00:19,2404,5,True,35.309483,-80.744125,Silver,CRI Deck
1,7/1/2018,00:07:27,2404,3,False,35.310318,-80.726677,Silver,Martin Hall
2,7/1/2018,00:09:19,2404,1,False,35.307224,-80.725281,Silver,Lot 5A
3,7/1/2018,00:13:31,2403,1,False,35.308022,-80.732727,Green,Cone Deck W
4,7/1/2018,00:16:05,2403,1,True,35.308022,-80.732727,Green,Cone Deck W
...,...,...,...,...,...,...,...,...,...
468682,12/22/2018,08:23:19,2405,1,False,35.301434,-80.740707,Gold,Harris Alumni Center South
468683,12/22/2018,08:27:41,2405,1,True,35.301445,-80.740700,Gold,Harris Alumni Center South
468684,12/22/2018,09:22:36,2405,1,False,35.266769,-80.809830,Gold,Harris Alumni Center North
468685,12/28/2018,09:31:33,2405,1,True,35.266766,-80.809929,Gold,Harris Alumni Center North
468686,12/28/2018,09:31:37,2405,1,False,35.266766,-80.809937,Gold,Harris Alumni Center North

In [5]:
# CHANGE THIS
#Create data file
filename = 'Test' + '_Data.csv'
# Remove index while writing
df.to_csv(filename, index=False)
print (filename)

Test_Data.csv