In [1]:
from snowflake.snowpark import Session as sn
import pandas as pd

# Your user and password is unique to you
connector = {
    'account': 'tub49591.us-east-1',
    'user': '',
    'password': '',
    'role': 'sysadmin',
    'warehouse': 'MY_WAREHOUSE',
    'database': 'NINER_TRANSIT',
    'schema': 'transit_2019_2020_script'}

C:\Users\Willy\.conda\envs\altair install\lib\site-packages\snowflake\connector\options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (9.0.0), please install a version that adheres to: 'pyarrow<8.1.0,>=8.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [2]:
query = sn.builder.configs(connector).create()

In [3]:
command = 'SELECT * FROM "transit_2019_2020";'
result = query.sql(command).collect()
query.close()

In [4]:
df = pd.DataFrame(list(result))
display(df)

,Date,Time,Bus,Count,On off,Latitude,Longitude,Route,Stop
0,7/1/2019,00:00:16,2403,1,True,35.309399,-80.744019,Silver,Wallis Hall E/Light Rail
1,7/1/2019,00:00:29,2404,2,True,35.310982,-80.729027,Green,Student Health N
2,7/1/2019,00:04:03,2404,2,False,35.311981,-80.733360,Green,Wallis Hall W/Light Rail
3,7/1/2019,00:11:03,2404,1,False,35.307072,-80.729507,Green,Fretwell S
4,7/1/2019,00:11:19,2404,2,True,35.307072,-80.729507,Green,Fretwell S
...,...,...,...,...,...,...,...,...,...
812944,6/30/2020,20:53:46,2408,5,True,35.307205,-80.725250,Silver,Lot 5A
812945,6/30/2020,21:00:16,2408,5,False,35.311592,-80.742508,Silver,Motor Sports
812946,6/30/2020,21:01:04,2408,1,False,35.309567,-80.744629,Silver,CRI Deck
812947,6/30/2020,21:15:41,2408,1,False,35.266727,-80.810463,Silver,CRI Deck
812948,6/30/2020,21:17:53,2408,1,True,35.266747,-80.810463,Silver,CRI Deck

In [5]:
# CHANGE THIS
#Create data file
filename = 'Test' + '_Data.csv'
# Remove index while writing
df.to_csv(filename, index=False)
print (filename)

Test_Data.csv