In [1]:
from snowflake.snowpark import Session as sn
import pandas as pd

# Your user and password is unique to you
connector = {
    'account': 'tub49591.us-east-1',
    'user': '',
    'password': '',
    'role': 'sysadmin',
    'warehouse': 'MY_WAREHOUSE',
    'database': 'NINER_TRANSIT',
    'schema': 'transit_2020_2021_script'}

C:\Users\Willy\.conda\envs\altair install\lib\site-packages\snowflake\connector\options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (9.0.0), please install a version that adheres to: 'pyarrow<8.1.0,>=8.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [2]:
query = sn.builder.configs(connector).create()

In [3]:
command = 'SELECT * FROM "transit_2020_2021";'
result = query.sql(command).collect()
query.close()

In [4]:
df = pd.DataFrame(list(result))
display(df)

,Date,Time,Bus,Count,On off,Latitude,Longitude,Route,Stop
0,7/1/2020,09:08:33,2407,1,True,35.309410,-80.744034,Silver,CRI Deck
1,7/1/2020,09:12:33,2406,1,True,35.310040,-80.726112,Silver,Martin Hall
2,7/1/2020,09:36:42,2406,1,True,35.307171,-80.725281,Silver,Lot 5A
3,7/1/2020,09:46:44,2407,1,True,35.308800,-80.725090,Silver,Lot 6
4,7/1/2020,09:47:42,2407,1,True,35.307190,-80.725204,Silver,Lot 5A
...,...,...,...,...,...,...,...,...,...
400872,6/30/2021,20:51:54,2408,1,True,35.301182,-80.735764,Green,South Village Deck
400873,6/30/2021,20:56:07,2402,1,False,35.308132,-80.732783,Silver,Student Union W
400874,6/30/2021,20:58:53,2401,1,True,35.311519,-80.740933,Silver,Duke Centennial Hall East
400875,6/30/2021,20:58:54,2401,1,True,35.311390,-80.741287,Silver,CRI Deck
400876,6/30/2021,21:00:37,2402,1,False,35.308132,-80.732783,Silver,Motor Sports

In [5]:
# CHANGE THIS
#Create data file
filename = 'Test' + '_Data.csv'
# Remove index while writing
df.to_csv(filename, index=False)
print (filename)

Test_Data.csv